<%- include('layout/header') %>
<main>
  <div class="center-contant">
    <table class="user-table">
      <thead>
        <tr style="background: #333; color: #fff">
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>E-Maile</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><img src="" alt="" /></td>
          <td>Md. Shadat Hossian</td>
          <td>shadathossain3500@gmail.com</td>
          <td>01787054846</td>
          <td class="eaditeAndUpdate">
            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<%- include('layout/footer') %>
